---
const { data } = Astro.props;
---

<li
  class="group relative py-8 md:p-8 hover:bg-slate-100 focus-within:bg-slate-100 rounded-content transition-all rounded-md">
  <a href="#">
    <article class="flex flex-wrap md:flex-nowrap">
      <!-- Header -->
      <header class="md:w-64 flex-shrink-0 flex space-x-4 text-black">
        <time datetime="2022-12-05T00:00:00.000Z"> {data.from}</time>
        <span>-</span>
        <time datetime="2023-05-10T00:00:00.000Z">{data.to}</time>
      </header>
      <!-- End Header -->
      <!-- Body -->
      <div class="flex flex-col space-y-4 md:flex-grow">
        <!-- Title -->
        <h3 class="font-bold text-xl">{data.title}</h3>
        <!-- End Title -->
        <!-- Snippet -->
        <p class="leading-relaxed text-black">
          {data.description}
        </p>
        <!-- End Snippet -->
        <!-- Tags -->
        <ul class="flex space-x-2">
          {
            data.tags.map((item) => (
              <li class="badge badge-sm bg-amber-200 text-amber-800 opacity-60">
                {`#${item}`}
              </li>
            ))
          }

          <!-- End Tags -->
        </ul>
        <!-- End Body -->
      </div>
    </article>
  </a>
</li>
